<div class="card-container">

  <div class="card">
    <div class="card-header">
      <img src="assets/login-image.svg" alt="illustrator image">
    </div>
    <div class="card-body">
      <div class="input-fields">
        <div class="email-field">
          <p class="field-title">Email</p>
          <input type="text" pInputText [(ngModel)]="value" />
        </div>
        <div class="password-field">
          <p class="field-title">Password</p>
          <p-password [(ngModel)]="value" [toggleMask]="true" />
        </div>
      </div>
    </div>
  </div>

</div>

