<div class="card-container">

  <div class="card">
    <div class="card-header">
      <img src="assets/login-image.svg" alt="illustrator image">
    </div>
    <div class="card-body"  *ngIf="!loginLoading">
      <div class="welcome-message">
        <p class="title">Welcome back</p>
        <p>Glad to see you again</p>
        <p>Login to your account below</p>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <div class="input-fields">
          <div class="email-field">
            <p class="field-title">Email</p>
            <input type="text" pInputText formControlName="email" />
          </div>
          <div class="password-field">
            <p class="field-title">Password</p>
            <p-password formControlName="password" feedback="false" [toggleMask]="true"></p-password>
            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
              <small *ngIf="loginForm.get('password')?.errors?.['required']" style="color: red">Password is required.</small>
              <small *ngIf="loginForm.get('password')?.errors?.['minlength']" style="color: red">Password must be at least 6 characters long.</small>
            </div>
          </div>
        </div>
        <div class="actions">
          <p-button type="submit" [disabled]="loginForm.invalid" class="btn-login" label="Login"/>
        </div>
      </form>
    </div>
    <div *ngIf="loginLoading" class="loading-container">
      <p-progressSpinner ariaLabel="loading" />
    </div>
  </div>
</div>
<p-toast></p-toast>

