.cart-page{
  display: flex;
  // gap:5px;
  justify-content: space-between;
  height: 92vh;
  .side-navbar{
    background-color: #e9edea;
    width: 10rem;
    .actions{
      display: flex;
      flex-direction: column;
      min-width: 200px;
      height: 100vh;
      padding-top: 2rem;
      gap: 1rem;
      .nav-button{
        cursor: pointer;
        display: flex;
        border: none;
        height: 40px;
        min-width: 150px;
        font-size: 16px;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        align-items: center;
        padding-left: 10%;
        background-color: #e9edea;
        .ph{
          font-weight: 600;
          padding-right: 10px;
        }

        &:hover{
          background-color: #CCD0CD;
        }
      }
    }
    .nav-actions{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .nav-button {
        display: flex;
        border: none;
        padding: 1rem;
        font-size: 16px;
        width: 100%;
        span{
          margin-left: 0.1rem;
        }
      }

    }
    @media screen and (max-width: 901px) {
      width: 45px;
      .nav-actions{
        .nav-button{
          width: 30px;
          padding-left: 0;
          span{
            display: none;
          }
        }
      }
    }
  }

  .raffle-area{
    // background-color: #f6f6f6;
    width: 100%;
    display: flex;
    // padding: 2vh;
    flex-direction: column;
    gap: 4vh;
    .title-area{
      border-left: 10px solid #9fc7b0;
    }
  }

  .table-container{
    display: flex;
    justify-content: center;
    overflow-y: auto;
    overflow-x: auto;
  }
}

::ng-deep p-table {
  width: 100%;
}
