<div class="cart-page">
  <div class="side-navbar">
    <div class="nav-actions">
      <button class="nav-button" (click)="changeArea('Confirmadas')">
        <i class="ph ph-seal-check"></i>
        <span>Confirmadas</span>
      </button>
      <button class="nav-button" (click)="changeArea('Pendentes')">
        <i class="ph ph-clock-countdown"></i>
        <span>Pendentes</span>
      </button>
      <button class="nav-button" (click)="changeArea('Finalizadas')">
        <i class="ph ph-check-fat"></i>
        <span>Finalizadas</span>
      </button>
    </div>
  </div>

  <div class="raffle-area">
    <div class="raffle-area-title">
      <span class="title">Minhas Rifas {{ currentArea }}</span>
    </div>
    <div class="table-container">
      <p-table [value]="items" [tableStyle]="{'min-width': '60rem'}" [scrollable]="true" scrollHeight="75vh">
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{product.name}}</td>
            <td><img [src]="'https://picsum.photos/200?random=' + product.num" [alt]="product.name" width="35" class="shadow-4" /></td>
            <td>{{product.price | currency:'BRL'}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
