@import "../../../styles/variables";

.nav-bar{
  background-color: #abccb2;
  padding: 20px 30px 20px 30px;
  box-shadow: 0 8px 6px -6px #fcfffd;

  .nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-actions{
      display: flex;
      gap: 30px;
      align-items: center;
      .nav-button{
        border: none;
        color: #313A33;
        background-color: #abccb2;
        font-family: Arial, sans-serif;
        font-weight: 600;
        font-size: 14px;
        display: flex;
        align-items: flex-end;
        &:hover{
          cursor: pointer;
          color: #4A584D;
        }

        .ph-shopping-cart{
          font-size: 22px;
          font-weight: 500;
        }
      }
    }

    .nav-resized-button{
      .ph-list{
        font-size: 29px;
        &:hover{
          cursor: pointer;
        }
      }
    }

  }

  .nav-collapse-actions{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .nav-button{
      font-weight: 500w;
      font-size: 15px;
      height: 25px;
      border: none;
      color: black;
      background-color: #abccb2;
      text-align: right;
    }
  }

  @media screen and (max-width: 600px) {
    .nav-items{
      .nav-actions{
        display: none;
      }
    }
  }

  @media screen and (min-width: 600px) {
    .nav-items{
      .nav-resized-button{
        display: none;
      }
    }
  }
}

:host ::ng-deep {
  .p-badge {
    background: #647768;
    min-width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
  }
}

