@import "../../../styles/variables";

.nav-bar{
  background-color: #e9edea;
  box-shadow: 0 8px 6px -6px #fcfffd;

  .nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10%;
    padding-left: 10%;
    .nav-actions{
      display: flex;
      gap: 30px;
      align-items: center;
      height: 60px;

      .nav-button{
        padding: 20px;
        border: none;
        color: #5e8665;
        background-color: #e9edea;
        font-family: Arial, sans-serif;
        font-weight: 600;
        font-size: 14px;
        display: flex;
        height: 100%;
        align-items: center;
        &:hover{
          cursor: pointer;
          color: black;
          background-color: #abccb2;
        }



        .ph-shopping-cart{
          font-size: 22px;
          font-weight: 500;
        }


      }

      .active{
        background-color: #abccb2;
        color: black;
      }


    }

    .nav-resized-button{
      .ph-list{
        font-size: 29px;
        &:hover{
          cursor: pointer;
        }
      }
    }

  }

  .nav-collapse-actions{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .nav-button{
      font-weight: 500w;
      font-size: 15px;
      border: none;
      color: black;
      background-color: #abccb2;
      text-align: right;
      align-items: center;
      height: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    .nav-items{
      .nav-actions{
        display: none;
      }
    }
  }

  @media screen and (min-width: 600px) {
    .nav-items{
      .nav-resized-button{
        display: none;
      }
    }
  }
}

:host ::ng-deep {
  .p-badge {
    background: #647768;
    min-width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
  }
}

