<div class="raffle-area">
  <div class="area-title">
    <h1 class="title">Flores Disponíveis</h1>
  </div>
  <div class="card-area">
    <div class="card" *ngFor="let item of items">
      <div class="card-image">
        <img src="https://picsum.photos/200?random={{item.num}}" alt=" image" class="image">
      </div>
      <div class="card-title">
        <span class="title">{{item.num}} - {{item.name}}</span>
        <span class="price"> R$ {{ item.price }} </span>
      </div>
      <div class="card-actions">
        <button><i class="ph ph-shopping-cart"></i>Adicionar ao carrinho</button>
      </div>
    </div>
  </div>
  <div class="paginator-area">

  </div>
</div>
