<div class="cart-page">
  <div class="title-area">
    <h1 class="title">Minhas rifas</h1>
  </div>
  <div class="raffle-area">
    <div class="pending-raffle">
      <div class="title-area">
        <h2 class="pending-raffle-title">Aguardando pagamento</h2>
      </div>
      <div class="raffles-container">
        <div class="raffles-area">
          <div class="raffle">
            <div class="raffle-image">
              <img src="https://picsum.photos/200" alt="pending raffle image" class="image">
            </div>
            <div class="raffle-infos">
              <div class="raffle-name">
                <span class="title">Nome.</span>
                <span>Nomaro</span>
              </div>
              <div>

                <span>R$ 33.00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="confirmed-raffle">
      <div class="title-area">
        <h2 class="confirmed-raffle-title">Rifas confirmadas</h2>
      </div>
      <div>
        <div class="raffles-area">

        </div>
      </div>
    </div>
  </div>
</div>
